@import '../general/base';
@import '../general/messpresso';
@import '~bulma/sass/layout/hero';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/grid/tiles';
@import '~bulma/sass/components/tabs';
@import '~bulma/sass/components/panel';
@import '~bulma/sass/components/dropdown';
@import '~bulma/sass/components/media';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/icon';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/box';
@import '~bulma/sass/elements/other';
@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/input-textarea';
@import '~bulma/sass/form/file';
@import 'navbar-home';
@import '../general/scrollbar';
@import '~plyr/src/sass/plyr';
@import '../general/plyr-custom';

$header-height: 3rem;
$chatBoxMinHeight: 5rem;
// $chatBoxMaxHeight: 10rem;

.has-background-transparent {
  background: transparent !important
}

.icon {
  cursor: pointer;
  transition: .3s;
}

.status {
  border-radius: 50%;
  box-shadow: 0 0 2px #fff;
  display: inline-block;
  height: .7rem;
  width: .7rem;

  &.active {
    background: #36be0c
  }
}

.tile.is-vertical>.tile.is-child:not(:last-child) {
  margin-bottom: 0 !important;
}

.panel {
  border-right: 1px solid $grey-lighter;
  display: flex;
  flex-direction: column;

  .has-scrollbar {
    flex: 1 0;
    overflow-x: hidden;

    .panel-block {
      padding: 0;
    }
  }

  &-heading,
  &-tabs,
  &-block {
    border: none !important;
  }

  &-heading {
    height: $header-height
  }

  &>&-block {
    padding-top: 0;
  }

  &-block {
    position: relative;

    .input {
      transition: .3s;

      &:focus {
        border: none;
        box-shadow: 0 5px 7px 2px $grey-light
      }
    }

    .user {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0 1rem;
      width: 100%;

      &-avatar {
        position: relative;

        .status {
          bottom: 1px;
          position: absolute;
          right: 1px;
        }
      }

      &-message {
        max-width: 12rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .subtitle.is-7 {
        margin-bottom: 1rem;
      }
    }

    >.icon {
      background: $white;
      bottom: .7em;
      display: none;
      position: absolute;
      right: 0;
    }

    &:hover>.icon {
      display: block;
    }
  }
}

.hero-head {
  height: $header-height;
  padding: 0 1rem;

  .columns {
    margin: 0;
    height: 100%;
  }

  .column {
    display: flex;
    padding: 0;

    &:first-child {
      flex-direction: column;
      justify-content: center;
    }

    &:last-child {
      align-items: center;
      justify-content: flex-end;

      .icon:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}

.hero-body {
  padding: 0;

  >.columns {
    margin: 0
  }

  .has-scrollbar {
    overflow-x: hidden;
  }

  .column.tile.is-vertical {
    padding: 0
  }

  .menu {
    padding: 0 1rem;

    &-label {
      cursor: pointer;

      .icon-angle-down {
        transition: .3s;
        transform: rotate(0);

        &.is-collapse {
          transform: rotate(90deg);
        }
      }
    }
  }

  .menu-list {
    transition: .3s;

    &.is-collapse {
      overflow: hidden;
    }

    .tile.is-parent {
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;

      .tile.is-child {
        height: percentage(1/3);
      }
    }
  }
}

.chat-content {
  flex: 4 0 0;
}

.message {
  margin: 0;

  &-avatar .image {
    margin: auto
  }

  &-content {
    border-radius: 1.5em;
    max-width: 50%;
    padding: .3rem 1rem !important;

    &.has-file {
      overflow: hidden;
      padding: 0 !important;
    }
  }

  &:not(.is-right) &-content {
    background: $blue2;
    color: $white;
  }

  .sys-message {
    background: unset !important
  }

  &-option {
    display: none;
    padding: 0;

    .icon:nth-child(2) {
      transform: rotateY(180deg)
    }
  }

  &-wrapper {
    .columns:not(:last-child) {
      margin-bottom: 1em;
    }

    .columns:hover .message-option {
      display: block
    }
  }

  &.is-right {

    .columns {
      justify-content: flex-end;
      padding-right: .7rem;
    }

    .message-content {
      border: 1px solid $blue2;
      order: 2
    }

    .message-option {
      order: 1;
      padding-right: .3em;
    }
  }
}

.chat-input {
  flex: .5 0 0;

  .upload-preview {
    margin-left: 1em;
    overflow: auto;
    white-space: nowrap;

    .box {
      border: 1px solid $grey-light;
      padding: .5em;
    }

    .media-content {
      max-width: 10em;
      max-height: 3em;
      overflow: hidden;
      white-space: normal;
    }

    .image {
      border-radius: 4px;
      overflow: hidden;
      vertical-align: bottom;

      .delete {
        position: absolute;
        right: 4px;
        top: 4px;
      }
    }

    .box:not(:last-child),
    .image:not(:last-child) {
      margin-right: 1em !important
    }
  }

  .columns.is-variable.is-0 {
    padding: 1em;
  }

  &_content {
    position: relative;
    max-height: $chatBoxMinHeight;
    min-height: 1rem;
  }

  &_placeholder,
  &_message {
    position: absolute;
    top: 0;
    left: 0;
  }

  &_message {
    -webkit-user-select: text; // iPad
    min-height: 1rem;
    max-height: $chatBoxMinHeight !important;
    outline: none;
    width: 100%;
    word-wrap: break-word;

    .icon {
      vertical-align: middle;
    }
  }

  &_extra {

    .button,
    .file-cta {
      padding-left: .5em;
      padding-right: .5em;
    }

    .file-cta:hover {
      background-color: unset
    }

    .icon {
      color: $file-cta-color;

      &:hover,
      &:active {
        color: $file-cta-hover-color
      }
    }

    .icons .dropdown-menu {
      left: -5em
    }
  }

  #sendMessage .icon {
    transform: rotate(45deg)
  }
}

.chat-option {
  cursor: pointer;
  padding: .5em .75em;
}

.is-borderless {
  border: none;

  &:focus {
    color: $black2;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shared-image {
  background: center no-repeat;
  cursor: pointer;
  height: 96px;
  width: 96px
}

.emoji {
  height: 15em
}

.contextMenu {

  background: $white;
  box-shadow: 0 3px 8px $grey-light;
  position: absolute;
  z-index: 999;

  &::before {
    border: .5rem solid transparent;
    content: '';
    display: block;
    position: absolute;
  }

  &.is-right {
    left: 22em;
    top: 9em;

    &::before {
      border-right-color: $white;
      left: -1rem;
      top: 1rem;
    }
  }
}

.fa {
  @extend [class^="icon-"]:before;
  font-family: unset;
}

body.dark {
  .panel {
    border-color: $black3;

    &-heading {
      background: transparent;
      border-top-color: transparent !important;
    }

    .input {
      background: $black3;
      color: $white;

      &:focus {
        box-shadow: 0 5px 7px 2px $black;
      }

      &::placeholder {
        color: $white
      }
    }

    &-block>.icon {
      background: $black2;
    }
  }

  .hero-body {
    .menu-list a:hover {
      background: unset;
    }
  }
}