@import '../general/base';
@import '../general/messpresso';
@import '~bulma/sass/layout/section';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/components/tabs';
@import '~bulma/sass/components/card';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/icon';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/tools';
@import '~bulma/sass/form/input-textarea';
@import 'navbar-home';
@import '../general/scrollbar';
@import '../general/modal-user-info';

.section {
  padding: 1.5rem 3rem;

  &+& {
    padding-top: 0
  }
}

#searchEverything .input {
  border: none;
  transition: .3s;

  &:focus {
    box-shadow: 0 5px 7px 2px $grey-light;
  }
}

.tabs li.is-active a {
  border-bottom-color: currentColor;
}

.card {
  &-content {
    padding: 1rem
  }

  .image {
    cursor: pointer
  }

  .title {
    cursor: pointer;
    max-height: $title-line-height*2rem;
    overflow: hidden;
  }

  .subtitle {
    margin-bottom: 1em
  }

  .button {
    &:not(:last-child) {
      margin-bottom: .5em
    }
  }
}

body.dark {
  #searchEverything {

    .input {
      background: $black3;
      color: $white;

      &:focus {
        box-shadow: 0 5px 7px 2px $black;
      }

      &::placeholder {
        color: $white
      }
    }
  }

  .card {
    background: $black3;
    box-shadow: 0 0 0 3px #444;

    &-content .button {
      &:active {
        background: $black2 !important;
        border-color: unset;
      }

      &:focus {
        border-color: $white;
      }
    }
  }
}