doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Messpresso - #{ title }
		link(rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico')
		prepend css
			//- if (ua.indexOf('Chrome') === 0 || ua.indexOf('Safari') === 0)
				link(rel='preload' href='/static/fonts/Nunito/Nunito-400.woff2' as='font' type='font/woff2' crossorigin)
				link(rel='preload' href='/static/fonts/Nunito/Nunito-700.woff2' as='font' type='font/woff2' crossorigin)
		block css
	body
		block content
		block js
			noscript
				.noscript