mixin tile(user)
  .column.is-3-desktop.is-half-tablet
    .user.columns.is-vcentered.is-variable.is-1.box
      .column.is-4
        figure.image.is-64x64(data-modal='modal-user-info')
          img.is-rounded(src=user.avatar['x64'])
      .column
        p.title.is-6.is-2-line(class=(isDark ? 'has-text-grey-lighter' : '') title=user.name data-modal='modal-user-info')= user.name
        p.subtitle.is-7(class = isDark ? 'has-text-grey-light' : '') 4k members
        a.button.is-small(role='button' class=(isDark ? 'has-background-dark has-text-grey-lighter' : ''))
            span.icon
              i.icon-mail
            span send message
        .dropdown
          .dropdown-trigger
            button.button.is-size-7(class=(isDark ? 'has-background-dark has-text-grey-lighter' : '') type='button' aria-haspopup="true" aria-controls="dropdown-menu")
              span.icon.is-small
                i.icon-cog

//- - const tabIds = ['friends', 'requested', 'sentRequest', 'blocked']
//- each tabId in tabIds
//-   .columns.is-multiline(data-container-id=tabId class=(tabId !== 'friends' ? 'is-hidden' : ''))
//-     each user in users
//-       +tile(user)
- console.log(users)
.columns.is-multiline
  each user in users
    +tile(user)